body {
    background: linear-gradient(to right, rgb(37, 46, 110), rgb(54, 18, 18),rgb(107, 105, 105));
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    background: rgba(248, 242, 242, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
}

.table {
    margin-top: 20px;
}

.thead-dark th {
    background-color: #343a40;
    color: white;
}

.btn-custom {
    background-color:#138496;
    border: none;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-custom:hover {
    color: rgb(230, 227, 221);
    background-color:#3492a1;
    transform: scale(1.05);
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-danger:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.btn-info {
    background-color: #17a2b8;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-info:hover {
    background-color: #138496;
    transform: scale(1.05);
}

